/*body {
    background: #485563; /
    background: -webkit-linear-gradient(to left, #485563 , #29323c); 
    background: linear-gradient(to left, #485563 , #29323c); 
}
*/

.navbar-default .navbar-brand {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    padding-right: 50px;
    font-weight: bolder;
}

.navbar-default .navbar-brand > a:hover {
    color: dodgerblue;
}

.navbar .nav > li > a, .navbar .nav > li {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.navbar .nav > li > a:hover, .navbar .nav > li{ 
    color: orangered;                      
}



/* visited link */
a:visited {
    color: whitesmoke;
}

/* mouse over link */
a:hover {
    color: #42e1ed;
}

/* selected link */
a:active {
    color: dodgerblue;
}


body, html, main {
	/* important */
    padding-top: 25px;
	height: 100%;
    color: black;
    font-family: 'Quicksand', sans-serif;
    
}

body {    
    /* Location of the image */
  background-image: url(/images/bg-2.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: linear-gradient(to left, #141E30 , #243B55);
}

.floater{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.opaque {
    background-color:rgba(0, 0, 0, 0.3);
}

#intro{
    font-size:20px;
    color: whitesmoke;
/*    background: linear-gradient(to left, #141E30 , #243B55);*/
    min-height: 100%
    height: 100%; 
}

#profile_pic{
    max-width: 60%;
}
#skills{
    padding-top: 10mm;
    font-size:25px;
}

#resume{
/*    background: linear-gradient(to left, #FF8008 , #FFC837);*/
    background: linear-gradient(to left, #000428 , #004e92);
    font-size:50px;
    color: whitesmoke;
	height: 250px;    
}

.text_center {
    text-align: center;
    vertical-align: middle;
}

.pad{
    padding-top: 20px;
    padding-bottom: 10px;
}

.v-center {
    align-content: center;
   display: flex;
   align-items: center;
}

.fill_screen {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.list-inline{display:block;}
.list-inline li{display:inline-block;margin:1em}